/*Start Server Info
-m venv env (sets up environment only do once. (creates env folder))
django-admin startproject projectname (creates project (only do once))
python manage.py migrate (migrates to database (only do once))
python manage.py createsuperuser (creates admin (only do once))
python manage.py runserver (opens server and gives address (do every time you want to run it))
(ctrl c to stop the server)


QUICK START:
cd C:\csc450Project\nowProject-Project
python manage.py runserver

*/

/* navbar */

@import url('http://fonts.cdnfonts.com/css/aquire');
@import url('https://fonts.googleapis.com/css?family=Michroma');

body
{
margin: 0;
padding: 0;
font-family:'Aquire', sans-serif;
box-sizing: border-box;
/*background: #0c002b; /* page background color */
/*background: #5ed0d8; */
background-image: url("bg3.jpg");
background-size: cover;
}

.menu
{
position: absolute;
width: 100%;
background: rgba(0, 0, 0, 0.5); /* navbar color */
padding: 0 50px;
box-sizing: border-box;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu h2
{
float: left;
width: 84px;
}

nav
{
position: relative;
float: right;
}

nav ul
{
margin: 0;
padding: 0;
display: flex;
}

nav ul li
{
list-style: none;
}

/* logo */
.brand img
{
height: 75px;
width: 100px;
}


nav ul li a
{
display: block;
color: #fff;
text-transform: uppercase;
padding: 33px 20px;
}

nav ul li ul
{
display: block;
background: rgba(150, 150, 150, 0.2); /* drop down background color */
min-width: 250px;
position: absolute;
margin-top: 1px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transition: 0.5s;
transform: translateY(40px);
}

nav ul li ul li a
{
padding: 10px;
}

nav ul li:hover ul
{
opacity: 1;
visibility: visible;
transform: translateY(0px);
}

nav ul li a:hover
{
background: #e2a218; /* change hover color  #da0b73 */
color: #0c002b; /* hover font color */

}

/* End navbar */

/* ########################################################################################################################################################################## */


/* Start Welcome User */

.welcome
{
position: relative;
width: 300px;
height: 300px;
top: 50%;
left: 42%;
display: flex;
justify-content: center;
align-items: center;
}

.welcome span:nth-child(1)
{
position: absolute;
top: 40%;
left: 0;
width: 100%;
height: 100%;
border: 2px solid #ffbe30;
border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
transition: 0.5s;
animation: bubbleAnim 6s linear infinite;
} 

.welcome:hover span:nth-child(1)
{
border: none;
background: rgba(23, 216, 216, 0.8);
}
/* */ 
.welcome span:nth-child(2)
{
position: absolute;
top: 40%;
left: 0;
width: 100%;
height: 100%;
border: 2px solid #ffbe30;
border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
transition: 0.5s;
animation: bubbleAnim 4s linear infinite;
} 

.welcome:hover span:nth-child(2)
{
border: none;
background: rgba(23, 216, 216, 0.8);
}

/* */ 
.welcome span:nth-child(3)
{
position: absolute;
top: 40%;
left: 0;
width: 100%;
height: 100%;
border: 2px solid #ffbe30;
border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
transition: 0.5s;
animation: bubbleAnim2 10s linear infinite;
} 

.welcome:hover span:nth-child(3)
{
border: none;
background: #137575cc;
}

@keyframes bubbleAnim 
{
0%
{
transform: rotate(0deg);
}  
100%
{
rotate: (360deg);
}
}

@keyframes bubbleAnim2 
{
0%
{
transform: rotate(360deg);
}  
100%
{
rotate: (0deg);
}
}
.content
{
position: relative;
padding: 40px 60px;
color: #ffbe30;
text-align: center;
transition: 0.5s;
z-index: 1000;
}

.content
{
top: 30%;
position: relative;
display: inline-block;
margin-top: 10px;
border: 2px solid #ffbe30;
padding: 6px 18px;
text-decoration: none;
color: #ffbe30;
font-weight: 600;
border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

/* End Welcome User */

/* ####################################################################################################################################################################### */

/* Start buttons */

.button1, .button2, .buttonMouse, .buttonKey, .buttonTotalTime, .buttonDaysStudied
{
  background-color: #004e55;
  color: rgb(0, 0, 0);
}

/* Start Button 1 */
.button1
{
position: absolute;
top: 60%;
left: 25%;
transform: translate(-50%,-50%);
text-align: center;
padding: 30px 60px;
font-size: 30px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
overflow: hidden;
}
.button1::before
{
content: '';
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: 50%;
background: rgba(255, 255, 255, 0.05);
}
.button1 span:nth-child(1)
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffbe30, #81611a);

animation: animate1 1.0s linear infinite;
animation-delay: 1.0s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

.button1 span:nth-child(2)
{
position: absolute;
top: 0;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(to bottom, #2b0000, #ff2617);
animation: animate2 1s linear infinite;
animation-delay: 1.5s;
}


@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.button1 span:nth-child(3)
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to left, #17c8ff, #17ffd8);
animation: animate3 1s linear infinite;
animation-delay: 1.0s;
}


@keyframes animate3
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.button1 span:nth-child(4)
{
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(to top, rgb(90, 89, 89), #fff);
animation: animate4 1s linear infinite;
animation-delay: .5s;
}


@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}

/* End Button 1 */

/*################################################################################################################################################################*/

/* Start button 2 */

.button2
{
position: absolute;
top: 60%;
left: 75%;
transform: translate(-50%,-50%);

text-align: center;
padding: 30px 60px;
font-size: 30px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
overflow: hidden;
}
.button2::before
{
content: '';
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: 50%;
background: rgba(255, 255, 255, 0.05);
}
.button2 span:nth-child(1)
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffbe30, #81611a);

animation: animate1 1.0s linear infinite;
animation-delay: 1.0s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

.button2 span:nth-child(2)
{
position: absolute;
top: 0;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(to bottom, #2b0000, #ff2617);
animation: animate2 1s linear infinite;
animation-delay: 1.5s;
}


@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.button2 span:nth-child(3)
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to left, #17c8ff, #17ffd8);
animation: animate3 1s linear infinite;
animation-delay: 1.0s;
}


@keyframes animate3
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.button2 span:nth-child(4)
{
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(to top, rgb(90, 89, 89), #fff);
animation: animate4 1s linear infinite;
animation-delay: .5s;
}


@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}



/* End Buttons */

/* ##########################################################################################################################################################*/

/* Start Progress Bar */

.progWheel
{
width: 160px;
height: 160px;
background: rgba(0, 0, 0, .75);
border-radius: 50%;
position: absolute;
top: 51%;
left: 46%;


}

.outer
{
height: 160;
width: 160;
border-radius: 50%;
padding: 20px;
box-shadow: 12px 12px 20px -3px #e2a218, /* Bot Right Shadow of wheel       #14ffe9  */
          -12px -12px 20px -3px #e2a218; /* Top Left shadow of wheel   #ff1749   #ffeb3b*/
}

.inner
{
height: 120px;
width: 120px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #e2a218;
box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, .2),
          inset -4px -4px 6px -1px rgba (255, 255, 255, .7),
          -0.5px -0.5px 0px rgba(255, 255, 255, 1),
          0.5px 0.5px 0px rgba(0, 0, 0, .15);
}

#number
{
font-weight: 600px;
color: #e2a218; /* number color */ 
}

circle
{
fill: none;
stroke: url(#GradientColor);
stroke-width: 20px;
stroke-dasharray: 472;
stroke-dashoffset: 472;
animation: anim 2s linear forwards;
}

svg
{
position: absolute;
top: 0;
left: 0;
}

@keyframes anim {
100%{
stroke-dashoffset: 165;
}

}

/* End Progress Bar */

/* End home-site.html */

/* Start stats.html */

/* Start buttonMouse*/
.buttonMouse
{
position: absolute;
top: 20%;
left: 17.5%;
transform: translate(-50%,-50%);
text-align: center;
padding: 30px 60px;
font-size: 30px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
overflow: hidden;
}
.buttonMouse::before
{
content: '';
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: 50%;
background: rgba(255, 255, 255, 0.05);
}


.buttonMouse span:nth-child(1)
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffbe30, #81611a);

animation: animate1 1.0s linear infinite;
animation-delay: 1.0s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

.buttonMouse span:nth-child(2)
{
position: absolute;
top: 0;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(to bottom, #2b0000, #ff2617);
animation: animate2 1s linear infinite;
animation-delay: 1.5s;
}


@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.buttonMouse span:nth-child(3)
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to left, #17c8ff, #17ffd8);
animation: animate3 1s linear infinite;
animation-delay: 1.0s;
}


@keyframes animate3
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.buttonMouse span:nth-child(4)
{
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(to top, rgb(90, 89, 89), #fff);
animation: animate4 1s linear infinite;
animation-delay: .5s;
}


@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}

/* End buttonMouse */

/* Start buttonKey */
.buttonKey
{
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
padding: 30px 60px;
font-size: 30px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
overflow: hidden;
}
.buttonKey::before
{
content: '';
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: 50%;
background: rgba(255, 255, 255, 0.05);
}


.buttonKey span:nth-child(1)
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffbe30, #81611a);

animation: animate1 1.0s linear infinite;
animation-delay: 1.0s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

.buttonKey span:nth-child(2)
{
position: absolute;
top: 0;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(to bottom, #2b0000, #ff2617);
animation: animate2 1s linear infinite;
animation-delay: 1.5s;
}


@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.buttonKey span:nth-child(3)
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to left, #17c8ff, #17ffd8);
animation: animate3 1s linear infinite;
animation-delay: 1.0s;
}


@keyframes animate3
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.buttonKey span:nth-child(4)
{
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(to top, rgb(90, 89, 89), #fff);
animation: animate4 1s linear infinite;
animation-delay: .5s;
}


@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}

/* End buttonKey */

/* Start buttonTotalTime */

.buttonTotalTime
{
position: absolute;
top: 20%;
left: 80.5%;
transform: translate(-50%,-50%);
text-align: center;
padding: 30px 60px;
font-size: 30px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
overflow: hidden;
}
.buttonTotalTime::before
{
content: '';
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: 50%;
background: rgba(255, 255, 255, 0.05);
}


.buttonTotalTime span:nth-child(1)
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffbe30, #81611a);

animation: animate1 1.0s linear infinite;
animation-delay: 1.0s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

.buttonTotalTime span:nth-child(2)
{
position: absolute;
top: 0;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(to bottom, #2b0000, #ff2617);
animation: animate2 1s linear infinite;
animation-delay: 1.5s;
}


@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.buttonTotalTime span:nth-child(3)
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to left, #17c8ff, #17ffd8);
animation: animate3 1s linear infinite;
animation-delay: 1.0s;
}


@keyframes animate3
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.buttonTotalTime span:nth-child(4)
{
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(to top, rgb(90, 89, 89), #fff);
animation: animate4 1s linear infinite;
animation-delay: .5s;
}


@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}

/* End buttonTotalTime*/

/* Start buttonDaysStudied*/

.buttonDaysStudied
{
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 30px 60px;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.buttonDaysStudied::before
{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.05);
}


.buttonDaysStudied span:nth-child(1)
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffbe30, #81611a);

animation: animate1 1.0s linear infinite;
animation-delay: 1.0s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

.buttonDaysStudied span:nth-child(2)
{
position: absolute;
top: 0;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(to bottom, #2b0000, #ff2617);
animation: animate2 1s linear infinite;
animation-delay: 1.5s;
}


@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.buttonDaysStudied span:nth-child(3)
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(to left, #17c8ff, #17ffd8);
animation: animate3 1s linear infinite;
animation-delay: 1.0s;
}


@keyframes animate3
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.buttonDaysStudied span:nth-child(4)
{
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(to top, rgb(90, 89, 89), #fff);
animation: animate4 1s linear infinite;
animation-delay: .5s;
}


@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}

/* Explanations */

.CurLevelExplain, .ExpBarExplain, .NextLevelExplain
{
  padding-top: 20%;
  color: #fff;
  font-size: 1.5em;
  position: relative;
}

.CurLevelExplain
{
  padding-left: 13%;
}

.ExpBarExplain
{
  margin-top: -22.25%;
  padding-left: 40%;
}

.NextLevelExplain
{
  margin-top: -23.5%;
  padding-left: 66%;
}

/* Stats Explain */
.mouseExplain
{
  padding-top: 18%;
  position: relative;
  padding-left: 13%;
  color: #fff;
  font-size: 1.5em;
}

.timeExplain
{
  padding-left: 63%;
  color: #fff;
  font-size: 1.5em;
  margin-top: -2.5%;
}

.keyExplain
{
  padding-top: 13%;
  padding-left: 13%;
  color: #fff;
  font-size: 1.5em;
}

.studyExplain
{
  padding-left: 58%;
  color: #fff;
  font-size: 1.5em;
  margin-top: -2.5%;
}


/* End Buttons*/

/* Start Graphs */

/* End Stats */
