{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock title %}

{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
#columnchart_material{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
  padding: 10px;
}

</style>
{% endblock head %}

{% block body %}

<!-- Start Welcome User -->
<div class="container">

  <div id="columnchart_material" style="width: 800px; height: 500px;"></div>

</div>
  
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    // variables for the chart
    // Labels
    xTitle = "Session Date";
    firstBarTitle = "Total Minutes Studied";
    secondBarTitle = "Total Key Presses";
    thirdBarTitle = "Total Mouse Clicks";
    labels = [xTitle, firstBarTitle, secondBarTitle, thirdBarTitle];
    // Data

    //SessionList will hold the data objects after recieving from DB and parsing through
    SessionList = [ 
      ['5/2/22', 20, 50, 100],
      ['5/3/22', 30, 100, 170],
      ['5/4/22', 20, 20, 200],
      ['5/5/22', 15, 10, 80],
    ]

    sessions = [labels];
    SessionList.forEach(element => {
      sessions.push(element)
    });
    
    var data = google.visualization.arrayToDataTable(sessions);

    var options = {
      chart: {
        title: 'Session History',
        subtitle: 'Totals for each previous session',
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>



{% endblock body %}


