{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock title %}

{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
#columnchart_material{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
#datePicker {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 20px;
  color: #ffbe0c;
}
#start, #end {
    font-size:25px;
    
}
#subButton{
  color: #137575cc;
  font-family: 'Michroma', sans-serif;
  background-color: #ffbe0c;
  font-size: 20px;
  padding: 10px;
  border: 0;
}

</style>
{% endblock head %}

{% block body %}

<!-- Start Welcome User -->
<div class="container" id="hstDiv" data-userHist='{{ userHist }}'>
  
  <div id="datePicker">
    <form id="submitDates" action="">
      <label for="start">Start Date:</label>
      <input type="date" id="start" name="startDate">

      <label for="start">End Date:</label>
      <input type="date" id="end" name="endDate">
    
      <button id="subButton">Submit</button>
    </form>
  </div>

  <div id="columnchart_material" style="width: 800px; height: 500px;"></div>

</div>
  
<script type="text/javascript">
  startD = new Date();
  endD  = new Date();
  document.addEventListener("DOMContentLoaded", () => {
    
    d = new Date();
    year = d.getFullYear();
    month = ((d.getMonth() + 1) < 10 ) ? "0"+(d.getMonth() + 1) : (d.getMonth() + 1);
    day = (d.getDate() < 10 ) ? "0"+d.getDate() : d.getDate();

    document.getElementById('start').value = year + "-" + month + "-" + day;
    document.getElementById('end').value = year + "-" + month + "-" + day;
    // document.reload();
    form = document.getElementById('submitDates');

    form.addEventListener("submit", (e)=>{

      event.preventDefault();

      start = document.getElementById('start').value;
      end = document.getElementById('end').value;

      startD = new Date(start +"T00:00:00");
      endD = new Date(end+"T00:00:00");
      endD = new Date(endD.setHours(23, 59, 59, 999));
      // console.log(startD);
      // console.log(endD);
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

    });

  });

  var userHist = document.getElementById("hstDiv").getAttribute('data-userHist');
  console.log(userHist);
  userHist = "{ 'data': " + userHist + "}";
  userHist = userHist.replace(/\'/g, '"');
  userHist = JSON.parse(userHist);
  hstArray = userHist.data;
  console.log(userHist);

  function drawChart() {
    // Labels
    xTitle = "Session Date";
    firstBarTitle = "Total Minutes Studied";
    secondBarTitle = "Total Key Presses";
    thirdBarTitle = "Total Mouse Clicks";
    labels = [xTitle, firstBarTitle, secondBarTitle, thirdBarTitle];

    // Data
    itemAdded = false;
    sessions = [labels];
    hstArray.forEach(elm => {

      dateObj = new Date(elm.date);

      if (dateObj >= startD && dateObj <= endD ){

        year = dateObj.getFullYear();
        month = ((dateObj.getMonth() + 1) < 10 ) ? "0"+(dateObj.getMonth() + 1) : (dateObj.getMonth() + 1);
        day = (dateObj.getDate() < 10 ) ? "0"+dateObj.getDate() : dateObj.getDate();
        MDYDate = month  + "/" + day + "/" +  year;

        sessions.push([MDYDate, elm.timeStudied, elm.keyCount, elm.clickCount ]);
        itemAdded = true;
      }
      
    });

    if(itemAdded){

      var data = google.visualization.arrayToDataTable(sessions);

      var options = {
        chart: {
          title: 'Session History',
          subtitle: 'Totals for each previous session',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
    
  }
</script>

{% endblock body %}
