{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock title %}

{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
#columnchart_material{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
#datePicker {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

</style>
{% endblock head %}

{% block body %}

<!-- Start Welcome User -->
<div class="container" id="hstDiv" data-userHist='{{ userHist }}'>
  
  <div id="datePicker">
    <label for="start">Start Date:</label>
    <input type="date" id="start" name="startDate" value="2018-07-22">

    <label for="start">End Date:</label>
    <input type="date" id="end" name="endDate" min="2022-01-01">

    <button id="submitDates">Submit</button>
  </div>

  <div id="columnchart_material" style="width: 800px; height: 500px;"></div>

</div>
  
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById('start').value = new Date().toDateInputValue();
    document.getElementById('end').value = new Date().toDateInputValue();
    document.getElementById('submitDates').addEventListener('click', ()=>{
      start = document.getElementById('start').value;
      end = document.getElementById('end').value;
      console.log(start + " " + end);
    });
  });

  var userHist = document.getElementById("hstDiv").getAttribute('data-userHist');
  console.log(userHist);
  userHist = "{ 'data': " + userHist + "}";
  userHist = userHist.replace(/\'/g, '"');
  userHist = JSON.parse(userHist);
  hstArray = userHist.data;
  console.log(hstArray);


  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    // Labels
    xTitle = "Session Date";
    firstBarTitle = "Total Minutes Studied";
    secondBarTitle = "Total Key Presses";
    thirdBarTitle = "Total Mouse Clicks";
    labels = [xTitle, firstBarTitle, secondBarTitle, thirdBarTitle];

    // Data
    sessions = [labels];
    hstArray.forEach(elm => {
      
      sessions.push([elm.date, elm.clickCount, elm.keyCount, elm.timeStudied]);
    });
    
    var data = google.visualization.arrayToDataTable(sessions);

    var options = {
      chart: {
        title: 'Session History',
        subtitle: 'Totals for each previous session',
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>



{% endblock body %}


