{% extends 'layout.html' %} {% block title %} {{title}} {% endblock title %}
{% block head %}

{% endblock head %}

{% block body %}
<!-- Start stat buttons -->
<div id="content">


<button class="buttonMouse" href="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Mouse Stats <br />
</button>

<!--
<p class="mouseExplain">Here are your Mouse Click Stats!</p>
<p class="timeExplain">Here is your Time Spent Studying!</p>
<p class="keyExplain">Here are your Key Click Stats!</p>
<p class="studyExplain">Here are the number of days you have used us!</p>
### This causes issues with the page ### -->

<button class="buttonKey" href="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Key Stats <br />
</button>

<button class="buttonTotalTime" href="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Study Time
</button>

<button class="buttonDaysStudied" href="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Days Studied <br />
</button>
</div>
{% endblock body %}