{% extends 'layout.html' %} {% block title %} {{title}} {% endblock title %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <style>
            .buttonMouse, .buttonKey, .buttonTotalTime {
              top: 25%;
              color: #ffbe0c;
            }
            #mousechart_material
            {
              position: absolute;
              left: 25%;
              /* top: 45%; */
              top: 75%;
              transform: translate(-50%, -50%);
              /* border: 5px solid #FFFF00; */
              padding: 10px;
            }

            #keychart_material
            {
              position: absolute;
              left: 58%;
              /* top: 45%; */
              top: 75%;
              transform: translate(-50%, -50%);
              /* border: 5px solid #FFFF00; */
              padding: 10px;
            }


            #studychart_material
            {
              position: absolute;
              left: 90%;
              /* top: 45%; */
              top: 75%;
              transform: translate(-50%, -50%);
              /* border: 5px solid #FFFF00; */
              padding: 10px;
            }
        </style>

{% endblock head %}

{% block body %}

<div id="content">

        <!-- Start stat buttons -->
        <button class="buttonMouse" href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Mouse Stats <br>
        </button>

        <!-- MOUSE GRAPH -->
        <div class="container" id="mouseDiv" data-mouseHst='{{ mouseHst }}'>

            <div id="mousechart_material" style="width: 800px; height: 500px;"></div>
          
          </div>
          
          <script type="text/javascript">

            var mouseHst = document.getElementById("mouseDiv").getAttribute('data-mouseHst');
            mouseHst = "{ 'data': " + mouseHst + "}";
            mouseHst = mouseHst.replace(/\'/g, '"');
            mouseHst = JSON.parse(mouseHst);
            mouseArray = mouseHst.data;


            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
          
            function drawChart() {
              // Labels
              xTitle = "Session Date";
              firstBarTitle = "Total Mouse Clicks";
              labels = [xTitle, firstBarTitle];

              // Data
              sessions = [labels];
              mouseArray.forEach(elm => {
                sessions.push([elm.date, elm.clickCount]);
              });
              
              var data = google.visualization.arrayToDataTable(sessions);
          
              var options = {
                width: 500,
                height: 250,
                chart: {
                  title: 'Mouse Clicks',
                  subtitle: 'Total Mouse Clicks for each previous session',

                }
              };
          
              var chart = new google.charts.Bar(document.getElementById('mousechart_material'));
          
              chart.draw(data, google.charts.Bar.convertOptions(options));
            }
          </script>

          <!-- END MOUSE GRAPH -->



          <!-- Start Button for Key Stats-->
        <button class="buttonKey" href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Key Stats <br>
        </button>

        <!-- End Button for Key Stats-->
        
        <!-- Start Key Graph -->
        <div class="container" id="keyDiv" data-keyHst='{{ keyHst }}'> 

            <div id="keychart_material" style="width: 800px; height: 500px;"></div>
          
          </div>
            
          <script type="text/javascript">

            var keyHst = document.getElementById("keyDiv").getAttribute('data-keyHst');
            keyHst = "{ 'data': " + keyHst + "}";
            keyHst = keyHst.replace(/\'/g, '"');
            keyHst = JSON.parse(keyHst);
            keyArray = keyHst.data;

            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
          
            function drawChart() {
              // Labels
              xTitle = "Session Date";
              BarTitle = "Total Key Presses";
              labels = [xTitle, BarTitle];
              // Data          
              sessions = [labels];
              keyArray.forEach(elm => {
                sessions.push([elm.date, elm.keyCount]);
              });
              
              var data = google.visualization.arrayToDataTable(sessions);
          
              var options = {
                width: 500,
                height: 250,
                chart: {
                  title: 'Key Presses',
                  subtitle: 'Total Key Presses for each previous session',
                }
              };
          
              var chart = new google.charts.Bar(document.getElementById('keychart_material'));
          
              chart.draw(data, google.charts.Bar.convertOptions(options));
            }
          </script>


          <!-- END KEY CHART -->

          <!-- START STUDY TIME BUTTON -->

        <button class="buttonTotalTime" href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Study Time
        </button>
        
        <!-- END STUDY TIME BUTTON -->

        <!-- START STUDY TIME CHART -->

        <div class="container" id="minDiv" data-minHst='{{ minHst }}'>

            <div id="studychart_material" style="width: 800px; height: 500px;"></div>
          
        </div>
            
          <script type="text/javascript">

            var minHst = document.getElementById("minDiv").getAttribute('data-minHst');
            minHst = "{ 'data': " + minHst + "}";
            minHst = minHst.replace(/\'/g, '"');
            minHst = JSON.parse(minHst);
            minArray = minHst.data;

            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
          
            function drawChart() {
              // Labels
              xTitle = "Session Date";
              firstBarTitle = "Total Time Studied";
              labels = [xTitle, firstBarTitle];
              // Data
              sessions = [labels];
              minArray.forEach(elm => {
                sessions.push([elm.date, elm.timeStudied]);
              });
              
              var data = google.visualization.arrayToDataTable(sessions);
          
              var options = {
                width: 500,
                height: 250,
                chart: {
                  title: 'Time Spent Studying',
                  subtitle: 'Total Time Spent Studying for each previous session',
                }
              };
          
              var chart = new google.charts.Bar(document.getElementById('studychart_material'));
          
              chart.draw(data, google.charts.Bar.convertOptions(options));
            }
          </script>

</div>
{% endblock body %}
