@import url('https://fonts.googleapis.com/css?family=Michroma');

#popupContainer {
    width: 500px;
    font-size: 15px;
    color: white;
    /* font-family:'Aquire', sans-serif; */
}
#options, #pauseBtn, #nextStep, #messages {
    display: none;
}
#parentModeBtn {
    float: right;
}
#textarea {
    display: block;
}



/* style to match site */


body
{
    position: absolute;
    text-align: center;
    margin-left: 10em;
    padding: 0;
    font-family:'Comfortaa', sans-serif;
    box-sizing: border-box;
    background: #0c002b; /* page background color */
}

h3
{
    font-family:'Michroma', sans-serif;
    text-align: center;
    margin-left: -1em;
}

#timerOptions
{
    margin-left: 2em;
    text-align: left;
    
}

#studyMin
{
    width: 14.75%;
    margin-left: 4.25em;
    
}

#shortBkMin 
{
    margin-left: 1.2em;
    width: 14.75%;
}

#cycleNum
{
    margin-left: 2.3em;
    width: 14.75%;
}

#longBkMin
{
    margin-left: 1.4em;
    width: 14.75%;
}

h3
{
    color: aqua;
    /* font-family:'Aquire', sans-serif; */
}

#opt1, #opt2, #opt3, #cust
{
    margin-top: 2em;
}


/* START buttons*/
#beginSession
{
    color: cyan;
    font-family:'Michroma', sans-serif;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-left: 2.5em;
    position: absolute;
    left: 0%;
    padding-top: 3em;
    margin-top: 0%;
    margin-left: 6%;
}

#pauseBtn
{
    color: cyan;
    font-family:'Michroma', sans-serif;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-left: 2.5em;
    position: absolute;
    left: 0%;
    padding-top: 3em;
    margin-top: 0%;
    margin-left: 6%;
}


#nextStep
{
    color: cyan;
    font-family:'Michroma', sans-serif;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-left: 2.5em;
    position: absolute;
    left: 0%;
    padding-top: 3em;
    margin-top: 0%;
    margin-left: 6%;
}

#endSession
{
    padding-top: 3em;
    font-family:'Michroma', sans-serif;
    left: 0%;
    color: cyan;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-top: 0%;
    margin-left: 25%;
}

#websiteBtn
{
    font-family:'Michroma', sans-serif;
    left: 0%;
    color: cyan;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-top: 5%;
    margin-left: 6%;

}

#optionsBtn
{
    padding-top: 11em;
    font-family:'Michroma', sans-serif;
    left: 0%;
    color: cyan;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-left: 2.5em;
    margin-top: 5%;
    margin-left: -88%;
}

#parentModeBtn
{
    padding-top: 14em;
    font-family:'Michroma', sans-serif;
    left: 0%;
    color: cyan;
    position: absolute;
    background-color: rgb(58, 1, 122);
    text-align: left;
    margin-left: 6.5%;
    margin-top: 5%;
}

input[type=submit]
{
    margin-left: -10%;
    font-family:'Michroma', sans-serif;
    color: cyan;
    position: absolute;
    background-color: rgb(58, 1, 122);
}




#beginSession, #endSession, #websiteBtn, #optionsBtn, #parentModeBtn, input[type=submit], #nextStep
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    outline: none;
    border: none;
}
  
#beginSession:hover, #endSession:hover, #websiteBtn:hover, #optionsBtn:hover, #parentModeBtn:hover, input[type=submit]:hover, #nextStep:hover
{
    background-color: #ff1764;
}

#beginSession:active, #endSession:active, #websiteBtn:active, #optionsBtn:active, #parentModeBtn:active, input[type=submit]:active, #nextStep:active
{
background-color: #ff178b;
box-shadow: 0 5px #910e4f;
transform: translateY(4px);
}


/* RADIO BUTTONS */

input[type="radio"]
{
    position: relative;
    width: 60px;
    height: 20px;
    margin: 5px;
    padding-top: 10px;
    background: #fff;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
                5px 5px 10px rgba(0, 0, 0 1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1),
                inset 2px 2px 5px rgba(0, 0, 0, 0.5),
                0 0 0 2px #1f1f1f;
    transition: 0.5s;
}
input[type="radio"]:checked
{
    background: #ff178b;
}

input[type="radio"]::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 20px;
    background: linear-gradient(to top, #000, #555);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
}


input[type="radio"]:checked::before
{
    left: 20px;
}

input[type="radio"]::after
{
    content: '';
    position: absolute;
    right: 65px;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #555;
    transition: 0.8s;
}

input[type="radio"]:checked::after
{
    left: calc(65px - 20px);
    background: #63cdff;
    box-shadow: 0 0 5px #63cdff,
                0 0 15px #63cdff,
                0 0 30px #63cdff;
}
